spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/autotech
    username: autotech
    password: autotech
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

logging:
  level:
    com.autotech: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
