spring:
  datasource:
    url: jdbc:tc:postgresql:16:///autotech_test
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

logging:
  level:
    com.autotech: INFO
    org.springframework.web: WARN
